/*-----------Google Fonts-----------*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500;600&family=Roboto:wght@400;500&display=swap');

/*-----------Google Fonts Ends-------------*

/*-----------Background color------------*/

.content-background {
    background-color: #B09E80;
}

/*-----------Logo-----------*/

.logo-abb {
    font-family: "Cormorant SC", sans-serif;
    margin:0;
    color: #B09E80;
    margin-top: 15px;
}

.logo-abb:before,
.logo-abb:after {
 background-color: #B09E80;
 content: "";
 display: inline-block;
 height: 1.5px;
 position: relative;
 vertical-align: middle;
 width: 75px;
}
.logo-abb:before {
 right: 0.5em;
 margin-left: -50%;
}
.logo-abb:after {
 left: 0.5em;
 margin-right: -50%;
}

.logo {
    font-family: "Cormorant SC", sans-serif;
    font-weight: 600;
    margin: 0;
    color: #192537
}

.no-underline:hover {
    text-decoration: none;
}

.social-links-logo {
    padding-top: 35px;
    padding-left: 10px;
}


.headings-logo {
    font-family: "Cormorant SC", sans-serif;
    color: #B09E80;
    padding-top: 35px;
    padding-right: 10px;
}


/*----------Logo Ends-----------*/

/*----------Navbar------------*/

.menu {
    font-family: "Cormorant SC", sans-serif;
    font-size: 20px;
}

.menu li {
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #b09e80;
}

.menu a:hover {
    border-bottom: 1px solid #B09E80;
}

.navbar-custom {
    background-color: #192537;
}

.navbar .navbar-toggler {
    border:0;
}

/*----------Navbar Ends------------*/

/*----------Home Jumbotron----------*/

.jumbotron h1,h2 {
    font-family: "Cormorant SC", sans-serif;
    color: #B09E80;
}



.lead, .jumbotron-text {
    font-family: "Roboto", sans-serif;
    color: #B09E80
}

.jumbotron {
    background-color: transparent;
    padding: 0;
}


.hero-image {
    height:100vh;
    background: url('../images/beer-tap-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position:relative;
}

.opaque-overlay {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}




/*----------Home Jumbotron Ends-----------*/

/*----------home-page-cards----------*/

.features {
    margin-top: 10px;
    margin-bottom: 20px;
}

.card {
    padding: 8px;
    background-image: url(https://cdn.shopify.com/s/files/1/1728/1943/products/l18911_1024x1024.jpg?v=1504652933);
    box-shadow: 10px 10px 5px #75664e;
}


.card-body {
    background-color: #192537;
}

.card-title {
    color: #B09E80;
    font-family: "Cormorant SC", sans-serif;
}

.card-text {
    color: #B09E80;
    font-family: "Roboto", sans-serif;
}

.card-img-top {
    width:100%;
    height: auto;
}

.card-button {
    background-color: #B09E80;
    color: #192537;
    font-family:"Cormorant SC", sans-serif;
    border: none;
}


/*----------home-page-cards-ends----------*/

/*----------Customize Your Crate-----------*/

.headings {
    font-family: "Cormorant SC", sans-serif;
    color: #192537;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-text {
    color: #192537;
    font-family: "Roboto", sans-serif;
}
.add-info {
    margin-top: 10px;
}

.form-control {
    background-color:#dcd4c5;
}

.delivery-button {
    background-color: #192537;
    color: #B09E80;
    font-family: "Cormorant SC", sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*--------Customise Your Crate ends---------*/

/*--------Contact Us---------*/

.contact-hero-image {
    height:50vh;
    background: url('../images/contact-hero-image.jpg') no-repeat center bottom; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position:relative;
}

.image-headings {
    font-family: "Cormorant SC", sans-serif;
    color: #B09E80;
    font-size: 50px;
}


#iframe-map {
    padding:8px;
    background-image: url(https://cdn.shopify.com/s/files/1/1728/1943/products/l18911_1024x1024.jpg?v=1504652933);
    border:none;
}

.faq-headings {
    font-family: "Cormorant SC", sans-serif;
    color: #192537;
    padding-top: 20px;
}

.faq-questions {
    padding-bottom: 10px;
}

.find-us {
    padding-top: 20px;
}



/*--------Footer--------*/

.footer-headings {
    font-family: "Cormorant SC", sans-serif;
    margin:0;
    color: #B09E80;
    margin-bottom: 20px;
    text-align: center;
}

.information {
    font-family: "Roboto", sans-serif;
    color: #B09E80;
}

.footer-menu {
    text-align: center;
    padding-top:10px;
}

.social-links li a i {
    font-size: 20px;
    text-align: center;
    color: #B09E80;
    margin: 0;
    
}

footer {
    background-color: #192537;
    min-height: 100px
}

#beer-sign {
    font-size: 20px;
    color: #B09E80;
}

/*--------Modal--------*/

.sign-up-button {
    background-color: #192537;
    color: #B09E80;
    font-family: "Cormorant SC", sans-serif;
    margin-bottom: 10px;
}

.modal-header {
    color: #192537;
    font-family:"Cormorant SC", sans-serif;
    font-weight: 600;
}

.form-group label {
    color: #192537;
    font-family:"Cormorant SC", sans-serif;
    font-weight: 600;
}

.form-group input {
    font-family: "Roboto", sans-serif;
}

.checked {
    list-style: none;
}


